table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Set widths for specific columns */
tr > td:first-child {
  width: 50%;
  max-width: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
}

tr > td:nth-child(2),
tr > td:nth-child(3) {
  width: 25%;
  max-width: 25%;
}
